/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #121212;
  color: #e0e0e0;
  line-height: 1.6;
}

header,
footer {
  background: #1f1f1f;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #333;
}

header .line-header {
  /* background-color: #ff5722; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-size: 1.5rem;
  color: #ff5722;
  margin-right: 2rem;
}

.search-container {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 900px;
}

.search-container input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 50px;
  background: #2c2c2c;
  color: #fff;
  margin-right: 1rem;
  flex: 1;
  min-width: 150px;
}

.search-container input::placeholder {
  color: #bbb;
}

.search-container input:focus {
  border-color: #ff5722;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.filters {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.filters select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  background: #2c2c2c;
  color: #fff;
  margin-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.filters select:last-child {
  margin-right: 0;
}

.filters select:focus {
  border-color: #ff5722;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.back-button {
  text-decoration: none;
  color: #ff5722;
  font-size: 1rem;
}

.back-button:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

footer {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 2rem;
  color: #777;
}

footer p {
  margin: 1rem 0;
}

/* Стили списка фильмов */
#movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.movie-item {
  background: #1f1f1f;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

@media (max-width: 1245px) {
  header .line-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    flex-direction: column;
    max-width: 100%;
    margin-top: 1rem;
  }

  .search-container input {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .filters {
    width: 100%;
    flex-wrap: wrap-reverse;
  }

  .filters select {
    margin-bottom: 10px;
  }
}

.movie-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 87, 34, 0.2);
}

.movie-poster {
  width: 100%;
  height: 365px;
  background-size: cover;
  background-position: center;
}

.movie-title {
  padding: 1rem;
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
}

.movie-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-item:hover::before {
  opacity: 1;
}

/* Стили плеера */
.player-container {
  position: relative;
  padding-top: 56.25%;
  /* Соотношение сторон 16:9 */
}

.player-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #121212);
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie-item {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}